.btn-update-data {
    margin-top: 50px;
    margin-left: 10px;
    padding: 5px;
    border: 1px solid #dfdfdf;
    border-radius: 5px;
    text-transform: uppercase;
    transition: .2s;    
}

.btn-update-data:hover {
    background-color: #000;
    color: #fff;
}